<app-header></app-header>
<div class="project">
   <div class="row computer-image">
      <div class="columns large-12 medium-12 small-12">
        <img src="{{project?.computerimg}}" alt="Desktop Image">
      </div>
  </div>
    <div class="info-content">
         <div class="row">
          <div class="columns large-4 medium-4 small-12 desk-image-2" >
              <img src="{{project?.deskimg2}}" alt="Desktop Image">
          </div>
          <div class="columns large-8 medium-8 small-12">
              <div class="f-container">
                 <div class="title-contain"><h1>{{project?.title}}</h1></div>
              </div>
              <h4>{{project?.summaryintro}}</h4>
              <p>{{project?.summary}}</p>
              <p class="tech">Technologies Used</p>
              <p class="tech-info">{{project?.technologies}}</p>
              <!-- <ul>
                <li class="link-title">Links</li>
                <li *ngFor="let link of project.links"><a target="_blank" href="https://{{link}}">{{link}}</a></li>
              </ul> -->
              <p [hidden]= "project?.githublink === 'n/a'">Github Link: <a target="_blank" href="{{project?.githublink}}">{{project?.githublink}}</a></p>
          </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>


