<div class="row desktoponly">
  <div class="columns large-12">
      <div class="menu-item"><a routerLink="">Home</a></div>
      <div class="menu-item"><a href="#aboutme">About Me</a></div>
      <div class="menu-item"><a href="/#skills">Skills</a></div>
      <img class="logo" src="assets/images/kellylogo2.svg" alt="KB Logo">
     <!-- <img class="logo" src="assets/images/greenlogo.svg" alt="KB Logo"> -->
      <div class="menu-item dropdown"><a href="#projects" class="arrows">Projects</a>
          <ul>
            <li><a routerLink="/projects/professional">Professional</a></li>
            <li><a routerLink="/projects/personal">Personal</a></li>
            <li><a routerLink="/projects/illustrator">Illustrator</a></li>
          </ul>
      </div>
      <div class="menu-item dropdown"><a class="arrows" href="">Other</a>
          <ul>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="/books">Books I <i class="ion-ios-heart"></i></a></li>
            <li><a routerLink="/portfolio-process">Portfolio Process</a></li>
          </ul>
      </div>
      <div class="menu-item"><a href="/#freelance-section">Contact</a></div>
  </div>
</div>
 <div class="scroll-nav desktoponly">
    <div class="menu-item"><a routerLink="">Home</a></div>
    <div class="menu-item"><a href="#aboutme">About Me</a></div>
    <div class="menu-item"><a href="/#skills">Skills</a></div>
    <img class="logo" src="assets/images/initialsblack.svg" alt="KB Logo">
    <div class="menu-item dropdown"><a href="/projects" class="arrows">Projects</a>
        <ul>
          <li><a routerLink="/projects/professional">Professional</a></li>
          <li><a routerLink="/projects/personal">Personal</a></li>
          <li><a routerLink="/projects/illustrator">Illustrator</a></li>
        </ul>
    </div>
    <div class="menu-item dropdown"><a class="arrows">Other</a>
        <ul>
          <li><a href="/blog">Blog</a></li>
          <li><a routerLink="/books">Books I <i class="ion-ios-heart"></i></a></li>
          <li><a routerLink="/portfolio-progress">Portfolio Process</a></li>
        </ul>
    </div>
    <div class="menu-item"><a href="/#freelance-section">Contact</a></div>
</div>
<header class="row mobilehdr mobileonly">
  <img class="logo" src="assets/images/initialsblack.svg" alt="KB Logo">
  <button class="hamburger hamburger--slider" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
  <div class="mobilenav mobileonly">
    <div class="menu-item"><a href="">Home</a></div>
      <div class="menu-item"><a href="/#aboutme">About Me</a></div>
      <div class="menu-item"><a href="/#skills">Skills</a></div>
      <div class="menu-item"><a href="#projects">Projects</a></div>
      <div class="menu-item"><a href="">Blog</a></div>
      <div class="menu-item"><a href="/#freelance-section">Contact</a></div>
  </div>
</header>

