<footer>
  <div class="row">
    <div class="columns large-12 small-12">
      <img src="assets/images/initialsblack.svg" alt="KB Logo">
      <p>Web Developer <i class="ion-record"></i> UI Developer</p>
      <button><a href="assets/KellyByrne.pdf" download>Download my Resume</a></button>
      <div class="social-icons">
        <a href="https://github.com/KellyByrne"><i class="ion-social-github"></i></a>
        <a href="https://www.linkedin.com/in/kelly-byrne-b2311290/"><i class="ion-social-linkedin"></i></a>
        <a href="https://www.instagram.com/athike2017/"><i class="ion-social-instagram-outline"></i></a>
      </div>
      <p class="copy">&copy; Designed &amp; Developed by Kelly Byrne 2018<i class="ion-ios-heart"></i></p>
    </div>
  </div>
</footer>
