<section class="aboutme" id="aboutme">
  <div class="row">
    <div class="columns large-12 small-12">
      <h2>About Me</h2>
      <p>something about something to do with me</p>
    </div>
  </div>
   <div class="row s-curve">
      <div class="columns large-6 large-push-6 small-12">
        <div class="box-in-box">
          <div class="outline-box"></div>
           <div class="desc-box">
            <div class="text-box">
              <p>Angular 2 <i class="ion-record"></i> UI <i class="ion-record"></i> JavaScript</p>
              <h4>Developer</h4>
            </div>
           </div>
        </div>
       </div>
      <div class="columns large-6 large-pull-6 small-12">
         <div class="half-box">
           <p>I'm a web developer skilled in <strong>frontend JavaScript frameworks</strong> including <strong>Angular &amp; Angular 2, JS, CSS, HTML, mobile development, Illustrator and Photoshop</strong> and currently work as a <strong>UI Developer</strong> at Penn Foster. I’m not located in any particular city because I work remotely- something that has increased the efficiency and speed of my work tenfold.</p>
         </div>
       </div>
   </div>
   <div class="row s-curve desktoponly">
      <div class="columns large-6 small-12">
       <div class="img-box">
         <img src="assets/images/keyboard.jpg" alt="Web Developer Desk">
       </div>
     </div>
     <div class="columns large-6 small-12">
       <div class="half-box">
         <p> I love achieving goals I set for myself both in learning new JS frameworks, new programming languages, Illustrator and design concepts. Small steps, consistency, &amp; practice are keys to progress and expertise. In ten years, I hope to be an expert at the full spectrum of web development and design. Outside of web development, I relax by practicing and progressing at yoga, weight training, paddle boarding and visiting as many national parks as I can.</p>
       </div>
     </div>
    
    
   </div>
</section>
