<app-header></app-header>
<div class="row">
  <h2>Personal Projects</h2>
  <p>These are various projects from code school and personal practice and learning. Some of them are incomplete, outdated or deprecated but I like keeping them up and seeing how far I've come and how much I've learned and improved over the last couple of years.</p>
  <div class="project-container">
    <div class="project" *ngFor="let project of projects">
      <img src="{{project.display}}" alt="">
        <div class="f-container">
           <a routerLink="/projects/personal/{{project._id}}"><div class="title-contain"><h3>{{project.title}}</h3></div></a>
        </div>
        <p class="tech">Technologies Used</p>
        <p class="tech-info">{{project.technologies}}</p>
        <p [hidden]= "project.githublink === 'n/a'"><a target="_blank" href="{{project.githublink}}">Github Link</a></p>
    </div>
  </div>
</div>
<app-footer></app-footer>
