<section class="project-section" id="projects">
  <div class="projects">
    <div class="project-1">
      <div class="circle"><h4>professional</h4></div>
      <div class="text">
        Various professional projects &amp; freelancing work.
      </div>
      <a routerLink="/projects/professional">Projects</a>
    </div>

    <div class="project-2">
      <div class="circle"><h4>personal</h4></div>
      <div class="text">
        Personal web development projects for practice, learning, and fun.
      </div>
      <a routerLink="/projects/personal">Projects</a>
    </div>

    <div class="project-3">
      <div class="circle"><h4>illustrator</h4></div>
      <div class="text">
        Projects relating to my learning process with Adobe Illustrator.
      </div>
      <a routerLink="/projects/illustrator">Projects</a>
    </div>

  </div>
</section>

