<section class="freelance-section" id="freelance-section">
  <div class="row">
    <div class="columns large-12 small-12">
      <h4>Contact Me About Freelance Work</h4>
        <form action="https://formspree.io/kellyannbyrne@gmail.com" method="POST">
            <input type="text" name="name" placeholder="Your Name">
            <input type="email" name="email" placeholder="Your Email Address">
            <textarea name="message" placeholder="Tell me about your project &amp; leave your contact info."></textarea>
            <input type="submit" value="Send">
        </form>
    </div>
  </div>

</section>