<section class="skills" id="skills">
  <div class="row">
    <div class="columns large-12 small-12">
      <h2>Skills</h2>
    </div>
  </div>
  <div class="row skills-100 desktoponly">
    <div class="columns large-1">
      <div class="skills-html"></div>
      <p>HTML</p>
    </div>
     <div class="columns large-1">
      <div class="skills-css"></div>
      <p>CSS</p>
    </div>
     <div class="columns large-1">
      <div class="skills-jquery"></div>
      <p>JQuery</p>
    </div>
     <div class="columns large-1">
      <div class="skills-js"></div>
      <p>JavaScript / ES6</p>
    </div>
    <div class="columns large-1">
      <div class="skills-mobile"></div>
      <p>Responsive / Mobile Dev</p>
    </div>
    <div class="columns large-1">
      <div class="skills-ang"></div>
      <p>Angular &amp; Angular 2</p>
    </div>
    <div class="columns large-1">
      <div class="skills-node"></div>
      <p>Node</p>
    </div>
    <div class="columns large-1">
      <div class="skills-mongo"></div>
      <p>MongoDB</p>
    </div>
    <div class="columns large-1">
      <div class="skills-adobe"></div>
      <p>Adobe Photoshop &amp; Illustrator</p>
    </div>
     <div class="columns large-1">
      <div class="skills-sql"></div>
      <p>SQL / Postgres</p>
    </div>
     <div class="columns large-1">
      <div class="skills-api"></div>
      <p>RESTful API Integration</p>
    </div>
    <div class="columns large-1">
      <div class="skills-ruby"></div>
      <p>Ruby On Rails</p>
    </div>
  </div>
  <div class="row mobileonly">
    <div class="columns large-12 small-12">
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JQuery &amp; JavaScript/ES6</li>
        <li>Responsive / Mobile Dev</li>
        <li>Angular &amp; Angular 2</li>
        <li>Adobe Photoshop &amp; Illustrator</li>
        <li>RESTful API Integration</li>
        <li>Node &amp; MongoDB</li>
      </ul>
    </div>
    
  </div>
  <div class="row">
    <div class="columns large-12 small-12">
      <a href="/skills">Learn More</a>
    </div>
  </div>
</section>