<app-header></app-header>
<section class="process">
  <div class="row">
    <div class="large-7 medium-7 small-12">
      <h2>Portfolio Process</h2>
      <p>This is my portfolio page process. This page was made using Angular 5 with a projects RESTful API made using node.js, express.js, and mongolab. Below are my branding/colors and fonts page, and a github link for the API as well as the link to the heroku app.</p>
    </div>
  </div>
  <div class="row">
    <div class="large-12 medium-12 small-12">
      <ul>
       <!--  <li><a routerLink="/mockups">Mockups</a></li> -->
        <li><a routerLink="/branding">Brand/Style Guide</a></li>
        <li><a href="https://github.com/KellyByrne/Projects-API/blob/master/routes/projects.js">Github Link</a></li>
        <li><a href="http://pacific-fortress-41036.herokuapp.com/api/projects/5a25f05ff36d280fefe3a933">API on Heroku</a></li>
      </ul>
    </div>
  </div>
</section>
<app-footer></app-footer>
