<app-header></app-header>
<div class="row">
    <div class="columns large-2 medium-2 small-12 outer-links">
      <a href="assets/KellyByrne.pdf" download>Download my Resume</a>
    </div>
  <div class="columns large-10 medium-10 small-12">
<div class="pdf">
  <header class="pdfHeader">
    <div class="firstName">
      <h2>Kelly</h2>
    </div>
    <div class="lastName">
      <h1>Byrne</h1>
    </div>
    <div class="links">
      <p class="grey">Portfolio: <a a href='http://kellybyrne.cfapps.io' target="_blank" >https://kellybyrne.cfapps.io</a></p>
      <p class="grey">GitHub: <a href='https://github.com/KellyByrne' target="_blank">https://github.com/KellyByrne</a></p>
      <!-- <p class="fullstack">LinkedIn: <a href='https://www.linkedin.com/in/kelly-byrne-b2311290' target="_blank">https://www.linkedin.com/in/kelly-byrne-b2311290</a></p> -->
    </div>
    <div class="contact">
      <p class="fullstack">JavaScript &amp; UI Developer</p>
      <p class="grey"><a href="mailto:kellyannbyrne@utexas.edu">kellyannbyrne@gmail.com</a></p>
      <p class="grey">832.465.6700</p>
    </div>
  </header>
  <main>
    <div class="workExperience">
      <h4><i class="ion-iphone"></i>  WORK EXPERIENCE</h4>
      <hr>
      <p class="title">JavaScript &amp; UI Developer</p>
      <p class="date">April 2016 – Present</p>
      <p class="company"><strong>Penn Foster</strong></p>
      <div class="description">
        <p class="work">Our team creates webpages from marketing designs, turning PSD and invision files into reusable templates. We are updating the entire marketing site and landing pages. In addition to these projects, we have developed and updated the b2b site, the brand site, created landing pages for partner programs, created templates in springshare for our library site and developed an internal template module creator, and are working on creating an internal design system with our marketing designers. Each project is mobile friendly, responsive and looks great across all browsers</p>
        <p class="tech"><strong>Technologies Used:</strong> HTML, CSS, SCSS, Jquery, Sitecore, AngularJS, Angular 5, Azure, Media Queries, A/B Testing, User Testing, Responsive and Mobile Development, Adobe Photoshop, Adobe Fireworks, Adobe Illustrator, Invision, Agile, Springshare, Brackets, Slack, Foundation &amp; Bootstrap</p>
        <ul class="link-list">
          <li class="li-title">Production links:</li>
          <li><a href="https://www.pennfoster.edu">www.pennfoster.edu</a></li>
          <li><a href="https://www.partners.pennfoster.edu">www.partners.pennfoster.edu</a></li>
        </ul>
      </div>
    </div>

      <div class="languages">
        <h4><i class="ion-code"></i>  LANGUAGES & FRAMEWORKS</h4>
        <hr>
        <p class="lang">HTML &amp; CSS</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i></p>
        <p class="lang">JavaScript</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i></p>
        <p class="lang">jQuery</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i></p>
        <p class="lang">Node.js</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-outline"></i></p>
        <p class="lang">MongoDB</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-outline"></i></p>
        <p class="lang">Express</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-outline"></i></p>
        <p class="lang">AngularJS</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i></p>
         <p class="lang">Angular 2/5</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-outline"></i></p>
        <p class="lang">SQL/PostgreSQL</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-outline"></i>  <i class="ion-ios-circle-outline"></i></p>
        <p class="lang">Ember.js</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-outline"></i>  <i class="ion-ios-circle-outline"></i></p>
        <br>
      </div>
      <div class="tools">
        <h4><i class="ion-settings"></i>  TOOLS &amp; TECHNIQUES</h4>
        <hr>
        <p class="lang">Git/GitHub</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i></p>
        <p class="lang">Mobile Development</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i></p>
        <p class="lang">Test Driven Development</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-outline"></i></p>
        <p class="lang">RESTful API Integration</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-outline"></i></p>
        <p class="lang">Photoshop/Illustrator</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-outline"></i></p>
        <p class="lang">Flexbox</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i></p>
        <p class="lang">A/B &amp; User Testing</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-outline"></i></p>
        <p class="lang">Foundation &amp; Bootstrap</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i></p>
        <p class="lang">Sass/SCSS</p><p class="bubbles"><i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i>  <i class="ion-ios-circle-filled"></i></p>
        <br>
        <br>
      </div>
     <!--   <div class="projects">
          <h4><i class="ion-android-laptop"></i>  PROJECTS</h4>
          <hr>
          <p class="projectTitle">Portfolio</p>
          <p class="project">Express, Node.js, Angular 5, Node.js API, Mongo, CSS</p>
          <p class="projectDescription"><a href="https://kellybyrne.herokuapp.com" target="_blank">https://kellybyrne.herokuapp.com</a></p>
          <p class="projectTitle">D3 Bar Chart Generator</p>
          <p class="project">AngularJS, Express, Node, d3.js, Bootstrap</p>
          <p class="projectDescription"><a href="https://d3barcharts.herokuapp.com/" target="_blank">https://d3barcharts.herokuapp.com/</a></p>
          <p class="projectTitle">Flashcard App</p>
          <p class="project">Mongo, Express, Angular, Node, JSONWebToken, RESTful API, PostgresSQL, CSS, Agile TeamWork</p>
          <p class="projectDescription"><a href="https://quiet-lowlands-2897.herokuapp.com/login" target="_blank">https://quiet-lowlands-2897.herokuapp.com/login</a></p>
      </div> -->
      <div class="education">
          <h4><i class="ion-university"></i>  EDUCATION</h4>
          <hr>
          <p class="title edu">Galvanize Full Stack Program</p>
          <p class="date">July 2015 – January 2016</p>
          <p class="description">Six Month Code School in Boulder, CO</p>
          <p class="title edu">University of Texas at Austin</p>
          <p class="date"> August 2009– December 2014</p>
          <p class="description">B.S. Kinesiology, Exercise Science, Minor: Rhetoric</p>
      </div>
      <div class="community">
          <h4><i class="ion-ios-people"></i>  COMMUNITY INVOLVEMENT / VOLUNTEER</h4>
          <hr>
          <p class="comm">Chicktech Austin- Web Development Teacher: December 2016</p>
      </div>
      <div class="currentlyLearning">
        <h4><i class="ion-ios-glasses-outline"></i> CURRENTLY LEARNING</h4>
        <hr>
        <p class="topic">Adobe Illustrator</p>
      </div>
    </main>
  </div>
</div>
</div>
<app-footer></app-footer>