<section class="blog-info">
  <div class="row s-curve">
     <div class="columns large-6 large-push-6 small-12">
       <div class="img-box">
        <!--  <img src="assets/images/desksanscomputer.jpg" alt=""> -->
         <img src="assets/images/keyboard.jpg" alt="">
       </div>
     </div>
      <div class="columns large-6 large-pull-6 small-12">
      <div class="box-in-box">
        <a routerLink="/resume"><div class="outline-box"></div></a>
           <div class="desc-box">
            <div class="text-box">
              <p>click to view my</p>
              <h4>resume</h4>
            </div>
           </div>
      </div>
     </div>
   </div>
</section>