<app-header></app-header>
<section class="title-section"> 
    <div class="row">
        <div class="title">
            <h1>Portfolio Style Guide</h1>
        </div>
    </div>
</section>
<section class="logo-section">
    <div class="row">
        <h3>Logos</h3>
        <div class="logo-container">
            <div class="logo-1">
                <p>Logo Variation 1</p>
                <img src="assets/images/greenlogo.svg" alt="Logo 1">
            </div>
            <div class="logo-2">
                <p>Logo Variation 2</p>
                <img src="assets/images/kellylogo2.svg" alt="Logo 2">
            </div>
            <div class="logo-3">
                <p>Favicon, Logo Variation 3 &amp; 4</p>
                <div class="nested-logo">
                    <img src="assets/images/greeninitials.svg" alt="Logo 3">
                    <img src="assets/images/initialsblack.svg" alt="Logo 4">
                </div>
            </div>   
        </div>
    </div>
</section>
    <section class="color-scheme">
        <div class="row">
             <h3>Color Scheme</h3>
            <div class="color-container">
                <div class="color-div">
                    <div class="color color-1"></div>
                    <p>Hex Color: <b>#abc9bd</b></p>
                </div>
                <div class="color-div">
                    <div class="color color-2"></div>
                    <p>Hex Color: <b>#10807d</b></p>
                </div>
                <div class="color-div">
                    <div class="color color-3"></div>
                    <p>Hex Color: <b>#424e4e</b></p>
                </div>
                <div class="color-div">
                    <div class="color color-4"></div>
                    <p>Hex Color: <b>#d7a29e</b></p>
                </div>
                <div class="color-div">
                    <div class="color color-5"></div>
                    <p>Hex Color: <b>#e8d8bf</b></p>
                </div>
            </div>
        </div>
    </section>
    <section class="font-section">
        <div class="row">
            <h3>Fonts</h3>
            <div class="font-container">
             <div class="font-1">
                <p>Header Typeface</p>
                <h4>AaBbCc01234</h4>
                <p class="lowercase">abcdefghijklmnopqrstuvwxyz</p>
                <p class="uppercase">abcdefghijklmnopqrstuvwxyz</p>
                <p class="numbers">0123456789%&amp;@'(,.;#!?)</p>
            </div>
             <div class="font-2">
                <p>Paragraph Typeface</p>
                <h4>AaBbCc01234</h4>
                <p class="lowercase">abcdefghijklmnopqrstuvwxyz</p>
                <p class="uppercase">abcdefghijklmnopqrstuvwxyz</p>
                <p class="numbers">0123456789%&amp;@'(,.;#!?)</p>
            </div>
            </div>
        </div>
    </section>
<section class="texture-section">
    <div class="row">
        <h3>Textures &amp; Patterns</h3>
        <div class="texture-container">
            <div class="texture-1">
                <img src="assets/images/texture-2.png" alt="Texture 1">
            </div>
            <div class="texture-2">
                <img src="assets/images/texture.png" alt="Texture 2">
            </div>
            <div class="texture-3">
               <img src="assets/images/texture-3.png" alt="Texture 3">
            </div>   
        </div>
    </div>
</section>
<app-footer></app-footer>
